<%- include("partials/header.ejs") %>
<section id="post-read">
    <h2><%= post.title %></h2>
    <% if (post.imagePath) { %>
        <img src="<%= post.imagePath %>" alt="Post Image" style="max-width: 100%;">
    <% } %>
    
    <p><%= post.content %></p>
    
    <p class="date"><%= moment(post.date).format('MMMM D, YYYY h:mm A') %></p> <!-- Formateamos la fecha con moment -->
    <br>
    <br>
    <div id="crud">
        <a href="/edit/<%= post._id %>" class="edit-post">Edit</a>
        <a href="/delete/<%= post._id %>" class="delete-post">Delete</a>
    </div>
</section>
<%- include("partials/footer.ejs") %>
